@import "tailwindcss";

@font-face {
  font-family: "Lora";
  src: url(../src/assets/fonts/Lora-Regular.ttf);
}

@theme {
  --font-lora: "Lora", sans-serif;
  --color-primary: #4c95db;
  --color-secondary: #7ebcf2;
  --color-accent: #796e64;
  --color-text: #012121;
  --color-background: #ffffff;
  --color-grad1: #5996eb;
  --color-grad2: #050c28;
}
